header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1914;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  padding-top: 5em; 
  padding-bottom: 1em;
}

.user-profile-pic {
  max-width: 1em;
  max-height: 1em;
  justify-content: center;
  align-items: center;
}

.user-name {
  color: whitesmoke;
}

@media only screen and (min-width: 1024px) {
  
  header {
    float: left;
    position: relative;
    width: 30%;
    margin-top: 10%;
    margin-left: 8%;
    height: auto;
    background-color: #1c1914;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
  
}