
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}



body {
  /* display: flex;
  flex-direction: row; */
  color: #46443f;
  background-color: whitesmoke;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
 
}

main {
  margin-left: 5%;
  margin-right: 5%;
}


@media only screen and (min-width: 1024px) {
  main {
  width: 50vw;
  float: right;
  padding-top: 3em;
 }
}