
nav {
  display: flex;
  background-color: #1c1914;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #ffffff;
  height: 3em;   
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: auto;
  width: 100vw;

}
/* Tweeter logo */
 #logo {
  font-family: 'Bungee', cursive;
  font-size: 1em;
  padding-left: 1.5em;
 }

 #write-tweet {
   padding-right: 1.5em;

 }

 @media only screen and (min-width: 1024px) {
  nav {
    display: flex;
    background-color: #4056A1;
    background-image: none;
    color: #ffffff;
    height: 3em;   
    justify-content: space-between;
    align-items: center;
    width: 100%;  
  }
}