






 

#text-box {

  outline: none; 
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  overflow: hidden;
  resize: none;
  padding: 5px; 
  line-height: 1.5em;
  height: 1.5em;
}

.new-tweet{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px;
}
#compose {
  color: #020202;
  text-align: center;
  margin: 10px;
}

.counter {
  display: flex; 
  text-align: center;
}

.red-counter {
  color: red;
}


.button-div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.submit-button {
  font-family: 'bungee', sans-serif;
  background-color: #4056A1;
  color: #ffffff ;
}

