
.tweet {
  display: block;
  font-size: .7em;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1em;
  margin-bottom: 1em;
  size: 2px; 
  border: solid black;
  width: 100%;
  margin-top: 10px;
}

.tweet:hover {
-webkit-box-shadow: 8px 8px 0px 0px rgba(197,203,227,1);
box-shadow: rgba(197,203,227,1); ;
}

.tweet:hover .handle {
  opacity: 0.75;
  fill: rgba(197,203,227,1);
}

.avatar-box {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
}
.user {
  padding-top: 1em;
  font-size: 1em;
  float: left;
}


.profile-pic {
  float: left;
  padding-right: .5em;
}

.handle {
  font-size: 1em;
  padding: 1em;
  opacity: 0;
  fill: rgba(197,203,227,1);
}

.text {
  outline: none; 
  border: none;
  border-bottom: .3em solid #212529;
  width: 100%;
  overflow: hidden;
  resize: none;
  padding-top: 1em;
  padding-bottom: 1em; 
  padding-left: 2em;
  line-height: auto;
  height: auto;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;


}

.under-border {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  height: .7em;
  font-weight: 700;
  
}

.icons {
 float: right;
}

.icon {
  max-width: 1em;
  max-height: 1em;
}
